@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Dancing Script", cursive;
}

html{
    font: size 15px;
    overflow-x: hidden;
}

body{
    background: linear-gradient(135deg, #e09eff, #9ec9ff);
    color: var(--text-color);
}


.background-shapes, .shape {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

.shape1, .shape2, .shape3 {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.3;
    border-radius: 50%;
    animation: float infinite ease-in-out;
    z-index: -1;
}

.shape1 {
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.6);
    top: -100px;
    left: -100px;
    animation: float 6s ease-in-out infinite;
}

.shape2 {
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    animation: float 8s ease-in-out infinite;
}

.shape3 {
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.4);
    bottom: -200px;
    right: -200px;
    animation: float 10s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


:root{
    --bg-color: linear-gradient(135deg, #e09eff, #9ec9ff);
    --snd-bg-color: linear-gradient(135deg, #9ec9ff, #e09eff);
    --text-color: rgb(87, 32, 133);
    --main-color: rgb(91, 52, 182);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 2rem 9% ;
    background-color: rgb(142, 84, 204);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a{
    font-size: 1rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
}

#menu-icon{
    font-size: 1.5rem;
    color: var(--text-color);
    display: none;
}

.home{
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 200;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img{
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 5%;
    box-shadow: 0 0 1rem var(--main-color);
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img{
    
    max-width: 100%; 
    height: 50vh; 
    display: flex; 
    margin: 0 auto; 
    border-radius: 5%; 
    box-shadow: 0px 4px 8px var(--main-color);
     
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--snd-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.projects {
    background: var(--snd-bg-color);
}

.projects h2 {
    margin-bottom: 4rem;
}

.project-container {
    display :grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 2rem;
    color: antiquewhite;
}

.project-layer p{
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
    color: beige;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;    
}

.project-layer  i{
    font-size: 1.5rem;
    color: var(--snd-bg-color);
}

.hidden {
    display: none;
}

#project-details {
    background-color: var(--snd-bg-color);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    position: relative;
}

.project-header {
    display: flex;
    justify-content: space-between; /* Space between title and close button */
    align-items: center; /* Center the items vertically */
}

.close-btn {
    background: none;
    border: none;
    color: #ff0000; /* Red color for close button */
    font-size: 18px;
    cursor: pointer;
}

.close-btn:hover {
    text-decoration: none; /* Optional: underline on hover */
}


#project-details h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#project-details ul {
    list-style: none;
    padding: 0;
}

#project-details ul li {
    background: var(--main-color);
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

#internship-experience {
    text-align: center;
    justify-content: center;
    margin: 20px 0;
    display: flex;
    margin-bottom: 4rem;
    background: var(--snd-bg-color);
}

.section-heading {
    font-size: 4.5 rem; 
    font-weight: bold; 
    text-align: center; 
    margin: 20px 0; 
    color: #333; 
}

.slider {
    position: relative;
    max-width: 800px; /* Adjust width as needed */
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none; /* Hide all slides by default */
    position: relative;
}

.slide img {
    width: 100%; /* Make images responsive */
    height: auto;
}

.description {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

#certifications {
    padding: 50px 20px;
    background: var(--bg-color); /* Light background color */
}

.section-heading {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.certifications-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px; /* Space between cards */
    padding: 0 20px;
}

.certification-card {
    background-color: powderblue; /* White card background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
    text-align: center;
    transition: transform 0.2s; /* Smooth hover effect */
}

.certification-card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

.certification-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007BFF; /* Bootstrap primary color */
    color: white;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s;
}

.certification-link:hover {
    background-color: #0056b3; /* Darker shade on hover */
}


.contact{
    background: var(--bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.4rem;
    color: var(--text-color);
    background: powderblue;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bg-color);
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--snd-bg-color);
}

.read-more-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: powderblue;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 20px;
    z-index: 9999;
    border-radius: 8px;
}

.read-more-content h2 {
    margin-top: 0;
}

.read-more-container .close-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #e74c3c;
}

.read-more-container .close-btn:hover {
    background-color: #c0392b;
}

.read-more-content p {
    margin-bottom: 0;
}

/* Project Details Section */
.project-details {
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: none; /* Initially hidden */
}

.project-details h4 {
    margin-bottom: 10px;
}

.project-details a {
    color: #007bff;
    text-decoration: none;
}

.project-details a:hover {
    text-decoration: underline;
}

/* BREAKPOINT */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3%;
    }

    .services{
        padding: 7rem;
    }

    .projects{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-content{
        order: 2;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column;
    }

    .about-img img{
        width: 90vw;
        margin-top: 4rem;
    }

    .services h2{
        margin-bottom: 3rem;
    }

    .projects h2{
        margin-bottom: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px){
    .project-container {
        grid-template-columns: 1fr;
    }

    .home-img img{
        width: 80vw;
        margin-top: 8rem;
    }

    .about-img img{
        width: 100vw;
        margin-top: 4rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}
